*{
    box-sizing: border-box;
}
body{
    color: rgb(0, 104, 99);
    width: 100%;
}
p{
    color: black;
}
img{
    border-radius: 3px;
}
div.logo{
    width: 100px;
    float: left;
}
div.top{
    width: 100%;
    font-size: 13px;
    margin-bottom: 50px;
}
div#nav{
    vertical-align: super;
    text-align: center;
}
span.nav{
    word-spacing: 5px;
    text-align: center;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: rgb(0, 104, 99);
}
a:hover{
    background-color: rgb(176, 197, 196);
    border-radius: 3px;
}
a#cont{
    color: white;
}
i{
    padding: 2px;
    color: red;
    font-size: 15px;
}
span.cont{
    float: right;
    margin-right: 30px;
    background-color: rgb(0, 104, 99);
    padding: 5px;
    border-radius: 4px;
}
a.lm {
    color: white;
    background: rgb(0, 104, 99); 
    padding: 4px;
    border-radius: 4px;
}
.para{
    float: left;
    width: 50%;
    font-size: 15px;
}
#meet{
    margin-left: 50px;
    height: 200px;
    width: 400px;
    border-style: inset;
    border-radius: 4px;
}
.container{
    display: inline-block;
    padding: 0px 60px;
    margin: 20px 20px;
    width: 100%;
}
.container1{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-left: 60px;
    width: 100%;
}
.para1{
    float: left;
    width: 20%;
    padding: 15px;
}
.par1b {
    font-size: 20px;
}
p.fig{
    border-left: 4px solid rgb(0, 104, 99);
    padding-left: 15px;
    text-align: left;
}
.container2{
    display: inline-block;
    padding: 10px 50px;
    font-size: 15px;
    margin: 0 20px;
}
.para2{
    float: left;
    width: 31%;
}
#par1 {
    margin-right: 50px;
}
.para2a {
    height: 200px;
    overflow: auto;
}
.para2a{
    border: 0.3px solid rgb(196, 193, 193);
    padding: 5px;
    border-radius: 3px;
    margin: 3px;
}
.container3{
    margin: 50px;
    align-content: center;
    height: 200px;
}
iframe {
    height: 200px;
}
.para3{
    text-align: center;
    font-size: 15px;
}
.container4{
    display: inline-block;
    font-size: 15px;
    width: 100%;
    margin: 10px 50px;
}
a.chev > i{
    font-size: 10px;
} 
.para4{
    float: left;
    width: 50%;
    margin: 0;
}
.para4a{
    width:;
    margin: 0;
}
.para4b{
    border-left: 0.3px solid rgb(196, 193, 193);
    padding-left: 40px;
}
.container5{
    width: 100%;
    background-color: rgb(0, 104, 99);
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
    font-size: 13px;
}
.para5{
    line-height: 0.3;
}
.para5a{
    display: flexbox;
    background-color: white;
    border: 2px solid rgb(118, 232, 226);
    border-radius: 5px;
    margin: 0% 40%;
}
button{
    background-color: rgb(0, 104, 99);
    color: white;
    border: none;
    border-radius: 3px;
    margin: 3px;
    align-content: flex-end;
}
input{
    border: none;
}
.container6{
    display: inline-block;
    font-size: 14px;
    margin: auto;
    width: 100%;
}
.para6{
    float: left;
    margin: auto;
    width: 20%;
}
li {
    list-style-type: none;
}
li a {
    display: inline-block;
    text-align: center;
    padding: 2px;
    margin: auto;
    text-decoration: none;
}
footer{
    font-size: 13px;
    text-align: center;
}